body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

/* Styles for background image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Background imag.jpg');
    background-size: cover;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.red-star {
    color: red;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.FormBTN {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    .FormBTN:hover {
        background-color: #45a049;
    }

.UpdateBTN {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: mediumturquoise;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 180px;
}

    .UpdateBTN:hover {
        background-color: turquoise;
    }

/* Styles for Logout button */
.LogoutBTN {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}

    .LogoutBTN:hover {
        background-color: #d32f2f;
    }

/* Styles for Popup */
#updatePopup {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 15%;
    top: 32%;
    width: 25%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fefefe;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

    .modal h2 {
        color: royalblue;
        text-align: center;
        margin-top: 0;
    }

    .modal input[type="text"],
    .modal input[type="password"] {
        width: calc(100% - 70px);
        padding: 10px;
        margin: 10px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

#updateButton {
    background-color: mediumturquoise;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
}

    #updateButton:hover {
        background-color: turquoise;
    }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* סגנון כללי לכרטיסיות */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

    /* סגנון לכותרת של הכרטיסייה */
    .card h3 {
        color: #333;
        text-align: center;
    }

/* סגנון לתוכן הכרטיסייה */
.card-content {
    display: flex;
    flex-direction: column;
}

/* סגנון לכפתור בתוך הכרטיסייה */
.card button {
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

    .card button:hover {
        background-color: #2980b9;
    }

/* סגנון לכפתור של החופשות שלי */
#VacationBTN {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    #VacationBTN:hover {
        background-color: #2980b9;
    }
